

body {
    position: relative;
    background-color: white;
}

#ControlsTable{
    margin-top:60px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border:4px solid;
    text-align:center;

}

#LastMoveButton{
    height:20px;
    border-right:4px solid;
    width:30px;
    font-weight:bold;
    cursor:pointer;
}
#NextMoveButton{
    height:20px;
    border-left:4px solid;
    width:30px;
    font-weight:bold;
    cursor:pointer;
}

#PositionsTextBoxContainer{
    width:570px;
    height:20px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    font-family:sans-serif;
    font-size:14px;
    text-align:center;
    vertical-align:central;
    border:none;
    padding-top:5px;
}

#PositionsTextBox{
    width:100%;
    display:block;
    font-family:sans-serif;
    font-size:14px;
    text-align:center;
    border:none;
    padding:0px;
}


#ChessBoardTable{
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border:15px solid;
}


.light {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: darkgray;
    width: 75px;
    height: 75px;
    overflow: hidden;
}

.dark {
    background-color: grey;
    border-width: 1px;
    border-style: solid;
    border-color: darkgray;
    width: 75px;
    height: 75px;
    overflow: hidden;
}

.ic {
    width: 75px;
    height: 75px;
    overflow: hidden;
}

img{
    width:500px;
    height:125px;
}

.white {
    margin-top:10px;
}

.black{
    margin-top:-58px;
}

.r{
    margin-left:10px;
}

.n{
    margin-left:-62px;
}

.b{
    margin-left:-138px;
}

.k{
    margin-left:-214px;
}

.q{
    margin-left:-288px;
}

.p{
    margin-left:-442px;
}

.hide{
    margin-left:-1000px;
    margin-top:-1000px;
}

